.help-container {
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.help-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  padding: 50px;
}

.help-question h2 {
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.help-animation {
  width: 500px;
  height: 200px;
}


/* Reviews Section */
.reviews-section {
  background-color: #F5EFFF;
  padding: 20px;
  margin-top: 30px;
  transition: transform 0.3s;
  border-radius: 20px;

}

.reviews-section:hover {
  transform: scale(1.02); /* Slight enlargement on hover */
}

.reviews-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.review-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.submit-review-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d45fff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

.submit-review-btn:hover {
  background-color: #A594F9;
}

.reviews-list {
  margin-top: 20px;
}

.review-item {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

.review-item p {
  margin: 0;
}

/* FAQ Section */
.faq-container {
  
  padding: 20px; 
  border-radius: 20px;
  transition: transform 0.3s; 
  background-color: #F5EFFF;
  margin-bottom: 40px;
}

.faq-container:hover {
  transform: scale(1.02); 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.faq-content {
  display: flex;
  justify-content: space-between;
}

.faq-column {
  width: 45%;
}

.faq-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.faq-answer {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.additional-info {
  margin-top: 30px;
  font-size: 14px;
  color: #777;
  text-align: center;
}

.faq-container {
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faq-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .faq-column {
    width: 45%;
  }
  
  .faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    cursor: pointer;
    color: #333;
  }
  
  .faq-answer {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
  }
  
  .additional-info {
    margin-top: 30px;
    font-size: 14px;
    color: #777;
    text-align: center;
  }